/********************* Roshan Kumar ***********************/

@charset "ISO-8859-1";

body {
	font-family: 'B612', sans-serif;
	background-color: #f9f7f7;
	color: #112d4e;
	margin: 0;
}

form {
	border: 3px solid #dbe2ef;
	padding: 10px 16px 16px 16px;
	margin-block-end: 0;
}

img {
	display: block;
	height: 150px;
	width: 200px;
}

label {
	display: inline-block;
	margin-top: 12px;
}

br {
	display: block;
	content: "";
	margin-top: 8px;
}

sup {
	color: red;
}

input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 2px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

button {
	font-family: 'B612', sans-serif;
	background-color: #3f72af;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

button:hover {
	opacity: 0.8;
}

h1 {
	text-align: center;
}

a {
	text-decoration: none;
}

.topnav {
	background-color: #112d4e;
	overflow: hidden;
}

.topnav a {
	float: left;
	color: #f9f7f7;
	text-align: center;
	padding: 12px 48px;
	font-size: 16px;
}

.topnav a:visited {
	color: #f9f7f7;
}

.topnav a:hover {
	background-color: white;
	color: black;
}

.topnav-right {
	float: right;
}

.wlcm {
	font-size: 16px;
	color: #f9f7f7;
	text-align: center;
}

.content {
	float: left;
}

.links {
	width: 73%;
}

.instructions {
	width: 25%;
	background-color: #dbe2ef;
	margin-top: 20px;
}

.test {
	margin: 48px 32px 0 32px;
	padding: 48px;
}

.instruction {
	padding: 20px;
}

.adminlogin {
	margin-top: 80px;
	text-align: center;
	padding: 20px;
}

table.userHomeTable {
	table-layout: fixed;
	margin: 0 auto;
	padding: 0;
}

table.userHomeTable td {
	padding: 20px 40px 20px 40px;
	text-align: center;
}

.topicList {
	margin: 32px 240px;
}

.dispAdminQues {
	margin: 36px 240px;
}

.adminForm {
	margin: 120px 240px;
	padding: 48px;
}

.adminHome {
	margin: 172px;
	text-align: center;
}

.adminLinks {
	background-color: #dbe2ef;
	padding: 16px;
	margin: 32px;
}

.createTest {
	margin: 120px 240px;
	padding: 36px;
}

.addQuestion {
	margin: 24px 84px;
	padding: 12px;
}

.addQuestion td {
	padding: 16px;
}

.warning {
	font-size: 0.82em;
	color: red;
}

.containerdash {
	background-color: #dbe2ef;
	padding: 16px 16px;
}

.split {
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	margin: 32px;
}

a:visited {
	color: #0000EE;
}

.left {
	width: 70%;
	left: 0;
}

.right {
	width: 30%;
	right: 0;
}

.centered {
	position: absolute;
	top: 36%;
	left: 45%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.details {
	margin: 120px 340px;
	padding: 0;
}

table.fixed {
	table-layout: fixed;
	width: 84%;
	margin-left: auto;
	margin-right: auto;
}

table.fixed td {
	background-color: #dbe2ef;
	padding: 12px 20px;
	border-spacing: 10px;
	border-collapse: separate;
}

table.testResult {
	width: 64%;
	margin-left: auto;
	margin-right: auto;
}

table.testResult td {
	background-color: #dbe2ef;
	padding: 14px 14px 14px 32px;
	border-spacing: 10px;
	border-collapse: separate;
}